<h3>To Do</h3>


<form method="POST" action="/">
    {% csrf_token %}
    {{ form.title }}
    <input type="submit" name="Create Task">
</form>

{% for task in tasks %}
<div>
    <a href="{% url 'update_task' task.id %}">Update</a>
    <a href="{% url 'delete' task.id %}">Delete</a>

    {% if task.complete == True %}
    <s>{{ task }}</s>
    {% else %}
    <span>{{ task }}</span>
    {% endif %}
</div>
{% endfor %}